

.BestSeller_Main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.BestSeller_h1{
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;
    text-align: left;
    margin-left: 170px;
    color: #626262;
}