/* *, :after, :before {
  box-sizing: inherit;
}
.homepart-main-div{
   background-color: #f7f6f6; 
}
.flext {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,90px);
  justify-content: center;
  gap: 1rem;
  margin: 3rem;
}
.names{
  font-weight: bolder;
  display: block;
  margin: 10px;
   margin-top:20px; 
}
.pro-img:hover{
  width: 100%;
}

.img-div{
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
  border-radius: .5rem;
  display: block;
  text-align: center;
   background-color: beige; 
  color: #3e4d60;
  font-size: 16px;
  font-weight: 700;
}
.pro-img{
    border-radius: 1rem;
    transition: all 350ms ease-out;
    height: 90%;
    width: 90%;
    object-fit: fill;
}
.div-join-button{
  background-color: #ffdc93;
  width: 60%;
  height: 100px;
  border-radius: 1rem;
  margin:auto;
 padding: .5rem 1rem; 
}
p{
  margin: 0px 0px 0px 15px;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  align-items: flex-start;
}
.joinnow-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0rem;
}
.join-now{
  display: block;
  background-color: #D11243;
  color: white;
  padding: 10px 18px;
  border-radius: 7px;
  border: none;
}
.join-now:hover{
  cursor: pointer;
}
.disc-div>img{
  margin: 10px auto;
  border-radius: .5rem;
} */