

.SpeakerMain{
    width: 70%;
    margin: auto;
    display: flex;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(246, 150, 47, 0.879);
}

.SpeakerIcon{
    width: 45px;
    height: 45px;
    color: white;
}
.SpeakerP{

    margin-left: 30px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.SpeakerIcon2{
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 5px;
    margin-left: 350px; 
}